<div class="sidenav">
    <!-- figure out the page href to put where the # sign is-->
    <center>
        <h3 class="text-warning">Welcome, {{firstname}} {{lastname}}!</h3>
        <br>
        <div>
               <img class="profImg" src="{{image}}">
        </div>

        <a class="btn btn-warning btn-sm" href="/dashboard" id="navBtn">Home</a>
        <br>
        <a class="btn btn-warning btn-sm" href="/shelf" id="navBtn">Shelf</a>
        <br>
        <a class="btn btn-warning btn-sm" href="/favorites" id="navBtn">Faves</a>

        <br>
        <a class="btn btn-warning btn-sm" href="/logout" id="navBtn">Log Out</a>



    </center>
</div>