<!-- Side navigation -->
<div class="sidenav">
    <!-- figure out the page href to put where the # sign is-->
    <center>
        <h3 class="text-warning">Welcome, {{firstname}} {{lastname}}!</h3>
        <br>
        <div>
        <img height="150" width="auto" src="{{image}}">
        </div>
        
        <a class="btn btn-outline-warning btn-sm" href="/dashboard" id="navBtn">Home</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/shelf" id="navBtn">Shelf</a>
         <br>
        <a class="btn btn-outline-warning btn-sm" href="/faves" id="navBtn">Faves</a>

        <br>
        <a class="btn btn-outline-warning btn-sm" href="/logout" id="navBtn">Log Out</a>



    </center>
</div>


<div class="container">
    <div class="jumbotron jumbotron-fluid" width="50">
    </div>



    <div class="container">
        <div class="row">
            {{!-- <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/tequila.jpg"class="img-thumbnail img-fluid">
                    </div>
                </div>

            </div> --}}
            <div class="col-md-2 offset-1">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/tequila.jpg" alt="..." class="img-thumbnail img-fluid">
                        
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/vodka.jpg" alt="..." class="img-thumbnail img-fluid">
                        
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/gin.jpg" alt="..." class="img-thumbnail img-fluid">
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/bourbon.jpg" alt="..." class="img-thumbnail img-fluid">
                       
                    </div>

                </div>

            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-body">
                        <img src="../images/cognac.jpg" alt="..." class="img-thumbnail img-fluid">
                    </div>

                </div>

            </div>
        </div>
    </div>

    <br>


</div>
<div class="container">
    <center>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background-color: black; color: white;">
                <div class="card-body">
                    <p>Here at Free Spirits store your cocktail ingredients on your virtual shelf to reveal some of 
                        the most popular cocktail recipes.
                    </p>
                    
                </div>
            </div>
       
            {{!-- <form class="form">
               <span> <input class="form" type="search" placeholder="Search" aria-label="Search" id="addNew"> </span>
                <br>
                <br>
               <span> <button class="btn btn-outline-warning" id="addBtn">Add</button></span>
                <br>
            </form> --}}
        
        </div>
    </div>
    </center>

</div>