<div class="sidenav">
    <!-- figure out the page href to put where the # sign is-->
    <center>
        <h3 class="text-warning">Welcome, {{firstname}} {{lastname}}</h3>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/dashboard" id="navBtn">Home</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/shelf" id="navBtn">Shelf</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/faves" id="navBtn">Faves</a>

        <br>
        <a class="btn btn-outline-warning btn-sm" href="/signin" id="navBtn">Log Out</a>

    </center>
</div>

<div class="container">
    <div class="jumbotron jumbotron-fluid" width="50">
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    <i class="fas fa-heart"></i>
                </div>
            </div>
        </div>

          <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    <i class="fas fa-heart"></i>
                </div>
            </div>
        </div>
          <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-muted">
                    <i class="fas fa-heart"></i>
                </div>
            </div>
        </div>





   
    </div>
</div>