{{> navbar}}
<div class="container mainContainer">
    <div class="jumbotron jumbotron-fluid" width="50">
    </div>
    <div class="row">
        <div class="offset-2 col-md-8">
            <div id="shelfcard" class="card">
                <div class="card-header">
                    <span class="shelfHeader">Your Shelf</span>
                    <div class="shelfSearch">
                        <form class="form">
                            <input class="form" type="search" placeholder="Add" aria-label="Search" id="addNew">
                            <button class="btn btn-lg btn-warning" id="addBtn">Add</button>
                        </form>
                    </div>
                </div>
                <div class="card-body scrollable shelfBody">
                    <ul id="list">
                        {{#each cabinet}}
                        <li>{{this}}<button class="btn delete-from-shelf ml-5" data-id="{{id}}">
                           X
                        </button></li>
                        {{/each}}
                    </ul>

                </div>
                <center>
                <span><button type="button" id="searchBtn" class="btn btn-lg btn-warning m-3">Search
                        Recipes</button></span>
            <span><button type="button" id="deleteBtn" class="btn btn-lg btn-warning">Clear</button></span>
            </center>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-md-8">
            <div class="card" id="cocktailRecCard">
                <div class="card-header">
                    <span class="shelfHeader">Cocktail Recipes</span>
                </div>
                <div class="card-body scrollable shelfBody text-center">
                    <p class="card-text" id="recipe-div">Drink recipe:</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url(https://images.squarespace-cdn.com/content/v1/5ccc970f7046802e565771ae/1561494405888-DX2W32LSA8I0WYDK0MQN/ke17ZwdGBToddI8pDm48kDVEj010BbXsLnm509AHjVF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UWiOgHWyWfC8BdxC_WuXfvhWFtDdzCpB3PJsO8_z2e5f_W3y_yy4MVWH39a9Q36QsA/SCB-COVER-BARS.jpg?format=2500w);

            {
                {
                 !-- background-position: center;
                --
            }
        }

        background-repeat: no-repeat;
        background-size: cover;

            {
                {
                 !-- font-family: 'Francois One', sans-serif;
                --
            }
        }
    }
</style>