

<div class="sidenav">
    <!-- figure out the page href to put where the # sign is-->
    <center>
        <h3 class="text-warning">Welcome, {{firstname}} {{lastname}}</h3>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/dashboard" id="navBtn">Home</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/shelf" id="navBtn">Shelf</a>
        <br>
        <a class="btn btn-outline-warning btn-sm" href="/faves" id="navBtn">Faves</a>

        <br>
        <a class="btn btn-outline-warning btn-sm" href="/signin" id="navBtn">Log Out</a>

    </center>
</div>

<div class="container">
    <div class="jumbotron jumbotron-fluid" width="50">
    </div>
</div>
<div id="shelfcard" class="card" style="width: 70rem;">
    <div class="card-header">
        <center>
            Your Shelf

    </div>

    <ul class="list-group list-group-flush" id="itemlist">
        {{#each liquors}}
        <li class="list-group-item pl-5" data-id="{{id}}">{{ingredients}}</li>
        {{/each}}
    </ul>


</div>
</center>
<center>
    <span><button type="button" class="btn btn-lg btn-outline-warning" id="searchBtn">Search Recipes</button></span>

    <div>
        <form class="form">
            <span> <input class="form" type="search" placeholder="Search" aria-label="Search" id="addNew"> </span>
            <br>
            <span> <button class="btn btn-outline-warning" id="addBtn">Add</button></span>
            <br>
        </form>
    </div>

</center>

<style>
    .btn {
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        align-items: center;
    }


    h1 {
        text-align: center;
    }


    .card {
        margin: 0 auto;
        float: none;

    }

    .card-header {
        font-size: 40px;
    }
    #shelf-card{
        background-image: url("../images/bar.jpg");
    }
</style>