<!--sign-in form page -->
<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>

<div class="container">
    <div class="card">
        <div class="card-body">
        
                <form id="signup" name="signin" method="post" action="/signin">
                <div class="form-group">

                   <h1>*APP TITLE*</h1>
                
                   <h3>Log-In To Continue</h3>

                   <h5>Members 21+</h5>

                    <label for="username">User Name</label>
                    <input name="username" type="text" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" />

                </div>

                 <span><input class="btn" class="form-control" type="submit" value="Log-In" /></span>

            
            </form>
        </div>
    </div>
</div>