<!--sign-in form page -->
<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>

<div class="container">
    <div class="card">
        <div class="card-body">
        
                <form id="signup" name="signup" method="post" action="/signup"></form>
                <div class="form-group">

                    <h1>Welcome to Bartender<span class="fas fa-cocktail"></span></h1>
                
                   <h2>Sign Up</h2>

                   <h5>Members 21+</h5>

                <center>
                   <div class="form-group"> 
                   <span><label for="firstName">&nbsp;First Name&nbsp;</label>
                    <input name="firstName" type="text" /></span> 
                   </div>
                   
                   <div class="form-group">
                    <span><label for="lastName">&nbsp;Last Name&nbsp;</label>
                    <input name="lastName" type="text" /></span>
                    </div>
                    
                    <div class="form-group">
                    <span><label for="birthDate">&nbsp;&nbsp;&nbsp;Birthday&nbsp;&nbsp;</label>
                    <input name="birthDate" type="text" /></span>
                    </div>
                    

                  <div class="form-group">
                    <span><label for="userName">User Name&nbsp;</label>
                    <input name="userName" type="text" /></span>
                </div>

                <div class="form-group">
                    <span><label for="password">&nbsp;&nbsp;&nbsp;Password&nbsp;</label>
                    <input name="password" type="password" /></span>

                </div>

                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><input class="btn" class="form-control" type="submit" value="Create Account" /></span>

              </center>

            
            </form>
        </div>
    </div>
</div>
