<!--sign-in form page -->
<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>

<div class="container">
    <div class="card" id="signinCard">
        <div class="card-body" id="signinCardbody">
        
                <form id="signup" name="signup" method="post" action="/signup">
                <div class="form-group">
                
                   <h1>Create An Account<span class="fas fa-cocktail"></span></h1>
                   <br>

                <center>
                   <div class="form-group"> 
                   <span><label for="firstname">First Name</label>
                    <input name="firstname" id="firstname" type="text" /></span> 
                   </div>
                   
                   <div class="form-group">
                    <span><label for="lastname">Last Name</label>
                    <input name="lastname" id="lastname" type="text" /></span>
                    </div>
                    
                    <div class="form-group">
                    <span><label for="birthdate">&nbsp;&nbsp;&nbsp;&nbsp;Birthday</label>
                    <input name="birthdate" id="birthdate" type="text" /></span>
                    </div>

                    <div class="form-group">
                    <span><label for="image">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Image</label>
                    <input name="image" id="profImg" type="text" /></span>
                    </div>
                    

                  <div class="form-group">
                    <span><label for="username">User Name</label>
                    <input name="username" id="username" type="text" /></span>
                </div>

                <div class="form-group">
                    <span><label for="password">&nbsp;&nbsp;&nbsp;&nbsp;Password</label>
                    <input name="password" id="password" type="password" /></span>

                </div>
                 <span><input class="btn-warning" class="form-control" type="submit" id="subBtn" value="Sign Up" /></span>

                  <a class="btn btn-warning btn-sm" href="/signin">Log In</a>
              </center>
            </form>
        </div>
    </div>
</div>
