<!--sign-in form page -->
<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>

<div class="container">
    <div class="card">
        <div class="card-body">
        
                <form id="signup" name="signup" method="post" action="/signup"></form>
                <div class="form-group">

                   <h1>*APP TITLE*</h1>
                
                   <h3>Sign Up</h3>

                   <h5>Members 21+</h5>

                <center>
                   <div class="form-group"> 
                   <span><label for="firstName">First Name</label>
                    <input name="firstName" type="text" /></span> 
                   </div>
                   
                   <div class="form-group">
                    <span><label for="lastName">Last Name</label>
                    <input name="lastName" type="text" /></span>
                    </div>
                    
                    <div class="form-group">
                    <span><label for="birthDate">Birthday</label>
                    <input name="birthDate" type="text" /></span>
                    </div>
                    

                  <div class="form-group">
                    <span><label for="userName">User Name</label>
                    <input name="userName" type="text" /></span>
                </div>

                <div class="form-group">
                    <span><label for="password">Password</label>
                    <input name="password" type="password" /></span>

                </div>

                 <span><input class="btn" class="form-control" type="submit" value="Create Account" /></span>

                </center>

            
            </form>
        </div>
    </div>
</div>
