
.img-thumbnail{
	background-image: url("../images/cognac.png");
} 

.container{
	
	background-size: cover;
}
#navBtn{
	width: 50%;
	justify-content: center;
}

.jumbotron{
	background-image: url("/images/banner.png");
	background-repeat: no-repeat;

	background-size: cover;
}
.list-group-item {
  line-height: 2.5;
}

#signinCard{
  align-content: center;
  text-align: center;
  margin: 80px;
  font-family: 'Josefin Sans', sans-serif;
  opacity: 0.9;
 
}
#signinCardbody{
  background-color: white;
  
}

.card{
	font-family: 'Josefin Sans', sans-serif;
}

/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
  background-image: url("../images/mult2.jpg");
  z-index: -3;
  opacity: 0;
 
}

.second-image {
  background-image: url("../images/mult.jpg");
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url("../images/OldFashioned.jpg");
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

/* for nav bar */
.sidenav {
  height: 100%;
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  
}

.sidenav a:hover {
  color: white;
}


/*footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#111;;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}