
body {
 font-family: 'Francois One', sans-serif;
}


.img-thumbnail{
	background-image: url("../images/cognac.png");
} 

.btnText {
  font-size: 4.5rem !important;
}



.container{
	
  background-size: cover;
 
}

.shelfHeader {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 5px white;
}

.shelfBody {
  overflow-y: auto;
  min-height: 400px;
  max-height: 600px;
  text-shadow: 2px 2px 5px white;
}

#shelfcard, #cocktailRecCard{
  margin-bottom: 20px;
  background: rgb(255, 255, 255); /* This is for ie8 and below */
  background: rgba(255, 255, 255, 0.75); 
  box-shadow: 5px 5px;
}

#shelfCard2 {
  margin-bottom: 20px;
  background: rgb(255, 255, 255); /* This is for ie8 and below */
  box-shadow: 5px 5px;
}




li {
  background: rgb(255, 255, 255); /* This is for ie8 and below */
  background: rgba(255, 255, 255, 0.75); 
  box-shadow: 3px 3px;
  width: 50%;
  margin: 7px;
}

.shelfSearch {
  float: right;
}

.shelfImg {
  /* width: 75%;
    height: 10vw;
    object-fit: cover; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainContainer {
  margin-left: 200px !important;
}

.profImg {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border: solid thin black;
  border-radius: 10px;
}

#navBtn{
	width: 65%;
  justify-content: center;
}

.jumbotron{
	background-image: url("/images/banner.png");
	background-repeat: no-repeat;

	background-size: cover;
}
.list-group-item {
  line-height: 2.5;
}

#signinCard{
  align-content: center;
  text-align: center;
  margin: 80px;
  font-family: 'Josefin Sans', sans-serif;
  opacity: 0.9;
 
}
#signinCardbody{
  background-color: white;
  
}

.card{
	font-family: 'Josefin Sans', sans-serif;
}

/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
  background-image: url("../images/mult2.jpg");
  z-index: -3;
  opacity: 0;
 
}

.second-image {
  background-image: url("../images/mult.jpg");
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url("../images/OldFashioned.jpg");
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

/* for nav bar */
.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  
}

.sidenav a:hover {
  color: white;
}


/*footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#111;;
  color: white;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  display: none;
}
/* FIX DISPLAY OF FOOTER */